@charset "UTF-8";
/* ==========================================================================
Settings
========================================================================== */
/* ==========================================================================
breakPoint
========================================================================== */
/* ==========================================================================
_wapSettings
========================================================================== */
/* ==========================================================================
_widthSettings
========================================================================== */
/* ==========================================================================
_heightSettings
========================================================================== */
/* ==========================================================================
_positionSettings
========================================================================== */
/* ==========================================================================
borderRadius
========================================================================== */
/* ==========================================================================
_marginSettings
========================================================================== */
/* ==========================================================================
_paddingSettings
========================================================================== */
/* ==========================================================================
fonts
========================================================================== */
/* ==========================================================================
_lineHeight
========================================================================== */
/* ==========================================================================
_letterspace
========================================================================== */
/* ==========================================================================
ボタンタイプ
========================================================================== */
/* ==========================================================================
Function
========================================================================== */
/* ==========================================================================
LAYOUT
========================================================================== */
#menuBtm_04 {
  /* ==========================================================================
  ヘッダーメニューの設定
  ========================================================================== */
  /* ==========================================================================
  メニューボタンの設定
  ========================================================================== */
  /* ==========================================================================
  ナビメニューの設定
  ========================================================================== */
}
#menuBtm_04 .mainFv {
  height: 200vh;
}
#menuBtm_04 .headerSpFx.on {
  background: unset;
}
#menuBtm_04.base_header {
  position: sticky;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 99;
}
#menuBtm_04 .headerSpWap {
  position: relative;
}
#menuBtm_04 .headerSpFx {
  padding: 10px 10px;
  width: 100%;
  align-items: center;
}
#menuBtm_04 .logoHeaderSp {
  display: block;
  text-decoration: none;
  color: #FFF;
}
@media screen and (max-width: 1261px) {
  #menuBtm_04 .logoHeaderSp {
    font-size: 20px;
  }
}
@media screen and (max-width: 1260px) {
  #menuBtm_04 .logoHeaderSp {
    font-size: 1.5873015873vw;
  }
}
@media screen and (max-width: 767px) {
  #menuBtm_04 .logoHeaderSp {
    font-size: 5.3333333333vw;
  }
}
#menuBtm_04 .h1Title {
  transition-duration: 0.5s;
}
#menuBtm_04 .h1Title.on {
  position: absolute;
  top: 10%;
  color: #333;
}
#menuBtm_04 .ulheaderNavTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#menuBtm_04 .base_header.on .ulheaderNavTop {
  display: none;
}
#menuBtm_04 .liheaderNavTop {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 4% 0 0;
  white-space: nowrap;
}
#menuBtm_04 .linkheaderNav {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  display: block;
}
#menuBtm_04 .btmHeaderSp {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
#menuBtm_04 .btmHeaderSpWap {
  width: 33px;
  margin: auto;
  height: 22px;
  position: relative;
}
#menuBtm_04 .brdHeaderSp {
  width: 100%;
  height: 2px;
  background: #FFF;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#menuBtm_04 .btmHeaderSp.off .brdHeaderSp01 {
  top: 0px;
}
#menuBtm_04 .btmHeaderSp.off .brdHeaderSp02 {
  top: 11px;
}
#menuBtm_04 .btmHeaderSp.off .brdHeaderSp03 {
  top: 21px;
}
#menuBtm_04 .btmHeaderSp.on .brdHeaderSp01 {
  top: 11px;
  transform: rotate(-45deg);
}
#menuBtm_04 .btmHeaderSp.on .brdHeaderSp02 {
  opacity: 0;
}
#menuBtm_04 .btmHeaderSp.on .brdHeaderSp03 {
  top: 11px;
  transform: rotate(45deg);
}
#menuBtm_04 .btmHeaderSp.off .h3BtmHeaderSp .off {
  display: block;
}
#menuBtm_04 .btmHeaderSp.off .h3BtmHeaderSp .on {
  display: none;
}
#menuBtm_04 .btmHeaderSp.on .h3BtmHeaderSp .off {
  display: none;
}
#menuBtm_04 .btmHeaderSp.on .h3BtmHeaderSp .on {
  display: block;
}
#menuBtm_04 .navHeaderSp {
  width: 305px;
  height: 100vh;
  margin: 0 0 0 auto;
  padding: 32px 0 30px 0;
  position: absolute;
  right: 0;
  z-index: 999;
  top: 42px;
  right: -305px;
  transition-duration: 0.25s;
  background: #F6F4EE;
}
@media screen and (max-width: 767px) {
  #menuBtm_04 .navHeaderSp {
    top: 42px;
  }
}
#menuBtm_04 .navHeaderSp.on {
  right: 0;
}
#menuBtm_04 .navHeaderSp.off {
  right: -305px;
}
#menuBtm_04 .ulNavHeaderSp {
  width: 245px;
  margin: auto;
}
#menuBtm_04 .liNavHeaderSp {
  border-bottom: 1px solid #0B090E;
}
#menuBtm_04 .liNavHeaderSp01 {
  border-top: 1px solid #0B090E;
}
#menuBtm_04 .btmNavHeaderSp {
  padding: 11% 4.5% 10% 5%;
  text-decoration: none;
  color: #0B090E;
}
#menuBtm_04 .h3NavHeaderSp {
  width: 120px;
  line-height: 0.7;
  white-space: nowrap;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 1260px) {
  #menuBtm_04 .h3NavHeaderSp {
    width: 54.05%;
  }
}
@media screen and (max-width: 1261px) {
  #menuBtm_04 .h3NavHeaderSp {
    font-size: 15px;
  }
}
@media screen and (max-width: 1260px) {
  #menuBtm_04 .h3NavHeaderSp {
    font-size: 1.1904761905vw;
  }
}
@media screen and (max-width: 767px) {
  #menuBtm_04 .h3NavHeaderSp {
    font-size: 4vw;
  }
}
#menuBtm_04 .txtNavHeader {
  width: 100px;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  letter-spacing: -0.06em;
}
@media screen and (max-width: 1260px) {
  #menuBtm_04 .txtNavHeader {
    width: 45.04%;
  }
}
@media screen and (max-width: 1261px) {
  #menuBtm_04 .txtNavHeader {
    font-size: 12px;
  }
}
@media screen and (max-width: 1260px) {
  #menuBtm_04 .txtNavHeader {
    font-size: 0.9523809524vw;
  }
}
@media screen and (max-width: 767px) {
  #menuBtm_04 .txtNavHeader {
    font-size: 3.2vw;
  }
}
#menuBtm_04 .txtNavHeader::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1) * 0.5em);
  content: "";
}
#menuBtm_04 .txtNavHeader::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1) * 0.5em);
  content: "";
}
#menuBtm_04 .btmContactSp {
  width: 245px;
  margin-top: 127px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1260px) {
  #menuBtm_04 .btmContactSp {
    margin-top: 41.63%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=menuBtm_04.css.map */