.slider-thumbnail .swiper-slide {
    opacity: .5;
    transition: opacity .5s;
    width: calc(100% / 3);
}

.slider-thumbnail .swiper-slide.swiper-slide-thumb-active {
    opacity: 1;
}

/* レイアウトのためのスタイル */
.slider {
    width: 100%;
}

.slider .swiper-slide img {
    height: auto;
    width: 100%;
}
