/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../../../Functions/_mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.base_header {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    background: unset;
    transition-duration: 0.5s;
}

.base_header.scrollTo {
    background: rgba(59, 96, 82, 0.85);
}

.headerPc {
    position: relative;
    height: 5.2vw;
}

.logoHeaderPc {
    position: absolute;
    left: 0;
    top: 0;
    @include mi.ontenerWVw(1920, 120);
    transition-duration: 0.5s;
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

    img {
        width: 100%;
        height: auto;
    }
}

.logoHeaderPc.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.logoHeaderPc.scrollTo {
    @include mi.ontenerWVw(1920, 100);
}

.navHeaderPc {
    position: relative;
    @include mi.paddingPercent(1920, 0, auto, 0, auto);

    @include mi.mq(max1300) {
        margin: 0 0 0 auto;
    }

}

.ulNavHeaderPc {
    position: relative;

    @include mi.mq(max1300) {
        @include mi.ontenerWidth(1300, 1150);
        margin: 0 auto;
    }

    @include mi.mq(tab) {
        @include mi.ontenerWidth(1200, 1150);
    }
}

.liNavHeaderPc {
    @include mi.marginVw(1920, 0, 30, 0, 0);
    width: auto;
    padding: 2.2vw 0 6vw 0;

    @include mi.mq(tab) {
        margin: 0 1vw;
    }

    &:last-child {
        margin: 0;
    }
}

.arrowNavHeaderPc {
    width: 100%;
    padding: 0 24px 0 0;
    background: url(../img/arrowNavHeaderPc.svg) no-repeat center right;
    background-size: auto 100%;
}

.btnNavHeaderPc {
    @include mi.fontSizePc(14);
    @include mi.lineheight(14, 20);
    @include mi.letterSpacing(0);

    @include mi.mq(max1300) {
        @include mi.fontVw(1300, 14);
    }
}

/* ==========================================================================
サブナビ
========================================================================== */
.liNavHeaderPc:hover {
    .subNavHeaderPc {}
}

.subNavHeaderPc {
    position: absolute;
    top: 6.3vw;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    @include mi.paddingPercent(1200, 25, 25, 24, 25);
    display: none;
}

.scrollTo .subNavHeaderPc {
    top: 5.19vw;
}

.ulSubNavHeaderPc {
    @include mi.ontenerWidth(1200, 1150);
    margin: auto;
    justify-content: flex-start;
}

.liSubNavHeaderPc {
    @include mi.ontenerWidth(1150, 175);
    @include mi.marginPercent(1150, 0, 20, 0, 0);

    &:last-child {
        margin: 0;
    }
}

.btnSubNavHeaderPc {}

.photoSubNavHeaderPc {}

.h3SubNavHeaderPc {
    @include mi.marginPercent(175, 8, 0, 0, 0);
    @include mi.fontSizePc(13);
    @include mi.lineheight(13, 19);
    @include mi.letterSpacing(0);
}

.newTabSubNavHeaderPc {
    background: url(../img/newTabSubNavHeaderPc.svg) no-repeat right center;
    background-size: auto 85%;
    @include mi.paddingPercent(1200, 0, 21, 0, 0);

    @include mi.mq(tab) {
        padding: 0% 14.91% 0% 0%;
    }
}

.mainFv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btmLink {
    display: block;
    margin: auto;
}