@forward '_menuBtm_01';
@forward '_menuBtm_02';
@forward '_menuBtm_03';
@forward '_menuBtm_04';
@forward '_menuBtm_05';


.bg_4ae {
    background: #4ae;
}

.bg_3469ce {
    background: #3469ce;
}

.bg_f1a3ea {
    background: #f1a3ea;
}

.bg_333 {
    background: #333;
}

.mainSetumei {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.mainSetumeiLi {
    font-size: 16px;
    line-height: 1.7;
    list-style: disc;
}

.mainSetumei02 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200vh;
}