@charset "utf-8";

//■画像のパス（WPのURLを記載する）
$imgpass : "";

//■横幅の設定
$pcSize:1350px;
$tabSize:1349px;
$tabTateSize:768px;//ここは不動だと思う
$spSize:767px;//ここは不動だと思う
//ここも変更してほしい
$pcSizePxNone:1350;
$tabSizePxNone:1349;
$tabTateSizePxNone:768;//ここは不動だと思う
$spSizePxNone:767;//ここは不動だと思う


$pc_wapper_size:$pcSize;
$pc_wapper_size_px:$pcSizePxNone;

//ページ内でコンテンツ幅が変わっている場合はこれで調節も可能（使うことはまず無い）
$pc_innner_wapper_size : 960px;
