@import "../../mysetting";
@import "../../_breakPoints";
@mixin wapper_setting() {
    width: 1350px;
    margin-left:auto;
    margin-right:auto;

    @include media($max1400) {
        width: 98%;
    }
    @include media($sp) {
        width: 100%;
    }
}

@mixin wapper_setting2() {
    @include media($pc) {
        width: $pc_innner_wapper_size;
        margin-left:auto;
        margin-right:auto;
    }
    @include media($tab) {
        width: 98%;
        margin-left:auto;
        margin-right:auto;
    }
    @include media($sp) {
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
}