.bg_E53742 {
    background: #E53742;
}

.bg_3C7A53 {
    background: #3C7A53;
}

.bg_494949 {
    background: #494949;
}

.bg_EDE5A0 {
    background: #EDE5A0;
}

.bg_E0E3D2 {
    background: #E0E3D2;
}

.bg_fff {
    background: #FFF;
}

.cl_fff {
    color: #FFF;
}

.cl_E53742 {
    color: #E53742;
}

.cl_3C7A53 {
    color: #3C7A53;
}