.gaufrierProducts {
    background: #640D11;
}

*.gaufrierProductsInfoFx {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 331);
        margin-left: auto;
        margin-right: auto;
    }
}

.secGaufrierProductsInfo {
    width: 550px;
    @include mi.marginPercent(1350, 61, 0, 0, 0);

    @include media($max1400) {
        @include mi.ontenerWidth(1350, 558);
    }

    @include mi.mq(sp) {
        width: 100%;
    }
}

.sliderGaufrierProductsInfoWap {
    width: 647px;
    @include mi.marginPercent(1350, 0, 36, 0, 0);

    @include media($max1400) {
        @include mi.ontenerWidth(1350, 647);
    }

    @include mi.mq(sp) {
        margin: 13.5% auto 0 auto;
        width: 100%;
    }
}

//タイトルや文章部分
.h2GaufrierProductsInfo {
    width: 490px;

    @include media($max1400) {
        @include mi.ontenerWidth(550, 490);
    }

    @include mi.mq(sp) {
        @include mi.ontenerWidth(331, 301);
        margin-left: auto;
        margin-right: auto;
    }
}

.txtGaufrierProductsInfo {
    @include mi.marginPercent(558, 88, 0, 0, 0);
    @include fontSizePc(22);
    @include mi.lineheight(22, 50);
    letter-spacing: 0em;
    text-indent: -0em;
    font-weight: 400;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(331, 301);
        margin: 13.5% auto 0 auto;
        @include fontSizeSp(14);
        @include mi.lineheight(14, 26);
        letter-spacing: 0;
        text-indent: 0;
        font-weight: 400;
    }
}

//スライダー設定
.sliderGaufrierProductsInfoBtmWap {
    @include mi.marginPercent(647, 20, auto, 0, auto);

    @include mi.mq(sp) {
        margin: 3% auto 0 auto;
    }
}

.sliderGaufrierProductBtm {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media($tab) {
        max-height: 9.777777777777779vw;
    }

    @include mi.mq(sp) {
        max-height: 18.133333333333333vw;
    }

    .slick-arrow {
        background: unset;
        padding: 0;
        margin: 0;
        border: none;
        height: 100%;
        @include mi.ontenerWidth(647, 15.2);

        @include mi.mq(sp) {
            @include mi.ontenerWidth(331, 7);
        }
    }

    .slick-list {
        padding: 0 !important;
        @include mi.ontenerWidth(647, 587);

        @include mi.mq(sp) {
            @include mi.ontenerWidth(331, 299);
        }
    }

    .liSliderGaufrierProductsInfoBtm {
        width: 132px;
        margin: 0 7.5px;

        @include media($tab) {
            width: 9.777777777777779vw !important;
            margin: 0 0.4025925925925926vw !important;
        }

        @include mi.mq(sp) {
            margin: 0 1.1vw !important;
            width: 17.833333333333332vw !important;
        }
    }
}

//今回だけ
.slick-slide {
    height: auto;
}

.liSliderGaufrierProductsInfoTop {
    @include kadomaru(6px);
    overflow: hidden;
}

.liSliderGaufrierProductsInfoBtm {
    @include kadomaru(6px);
    overflow: hidden;
}