.mojipoyoBox{
    margin: 20% auto;
}
.mojipoyoH2{
   display: flex;
    overflow: hidden;
}
.mojipoyoH2{
    display: flex;
    overflow: hidden;
    span{
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8);
        display: block;
    }
} 
.poyoyon{
   & > span {
    }
    &.active {
        & > span {
            @for $var from 1 through 12 {
                $delay : 0.05*$var;
                &:nth-child(#{$var}) {
                    -webkit-animation: bound 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                    animation: bound 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                }
            }
        }
    }
}
@-webkit-keyframes bound {
    0% {
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8);
    }
    40% {
        opacity: 1;
        transform: translateY(-10%) scale(1, .8);
    }
    70% {
        opacity: 1;
        transform: translateY(5%) scale(1.2, .8);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes bound {
    0% {
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8)
    }
    40% {
        opacity: 1;
        transform: translateY(-10%)
    }
    70% {
        opacity: 1;
        transform: translateY(5%) scale(1.2, .8)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.poyoyon02{
    & > span {
        transform: translateX(0%) scale(1, 1);
    }
    &.active {
        & > span {
            @for $var from 1 through 12 {
                $delay : 0.05*$var;
                &:nth-child(#{$var}) {
                    -webkit-animation: bound_rotate 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                    animation: bound_rotate 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                }
            }
        }
    }
}



@-webkit-keyframes bound_rotate {
     0% {
        opacity: 0;
        transform: translateX(50%) scale(1.2, .8);
    }
    40% {
        opacity: 1;
        transform: translateX(-10%) scale(1, .8);
    }
    70% {
        opacity: 1;
        transform: translateX(5%) scale(1.2, .8);
    }
    to {
        opacity: 1;
        transform: translateX(0%) scale(1, 1);
    }
}

@keyframes bound_rotate {
     0% {
        opacity: 0;
        transform: translateX(50%) scale(1.2, .8);
    }
    40% {
        opacity: 1;
        transform: translateX(-10%) scale(1, .8);
    }
    70% {
        opacity: 1;
        transform: translateX(5%) scale(1.2, .8);
    }
    to {
        opacity: 1;
        transform: translateX(0%) scale(1, 1);
    }
}

@-webkit-keyframes bound-small {
    0% {
        opacity: 0;
        transform: translateY(30%) scale(1.1, .9)
    }
    40% {
        opacity: 1;
        transform: translateY(-10%)
    }
    70% {
        opacity: 1;
        transform: translateY(5%) scale(1.1, .9)
    }
    to {
        opacity: 1;
        transform: none
    }
}
@keyframes bound-small {
    0% {
        opacity: 0;
        transform: translateY(30%) scale(1.1, .9)
    }
    40% {
        opacity: 1;
        transform: translateY(-10%)
    }
    70% {
        opacity: 1;
        transform: translateY(5%) scale(1.1, .9)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes scale-down {
    0% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

@keyframes scale-down {
    0% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}



@-webkit-keyframes inview-fadein {
    0% {
        opacity: 0;
        transform: translateY(150%)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes inview-fadein {
    0% {
        opacity: 0;
        transform: translateY(150%)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes fadein-content {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadein-content {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes speech-bubble-x {
    0% {
        transform: scaleX(0)
    }
    to {
        transform: scaleX(1)
    }
}

@keyframes speech-bubble-x {
    0% {
        transform: scaleX(0)
    }
    to {
        transform: scaleX(1)
    }
}

@-webkit-keyframes speech-bubble-y {
    0% {
        transform: scaleY(0)
    }
    to {
        transform: scaleY(1)
    }
}

@keyframes speech-bubble-y {
    0% {
        transform: scaleY(0)
    }
    to {
        transform: scaleY(1)
    }
}

@-webkit-keyframes fuyofuyo {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes fuyofuyo {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(0)
    }
}