/* ==========================================================================
LAYAUT
========================================================================== */
.mojipoyoUl {
    margin: 5% 0 10% 0;
}

.mojipoyoLi {
    margin: 0% 0 2% 0;
}

.mojipoyoLinks {
    font-size: 1.25em;
    color: #333;
}

.mojipoyoBox {
    padding: 20% 0;
}

.mojipoyotitle {
    font-size: 2em;
    margin: 0 0 4% 0;
}

.mojipoyoBox button {
    margin: 2% 0 0 0;
    border: none;
    background: #333;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}


.mojipoyoBox p {
    font-size: 1.25em;
}

.mojipoyoBox button {
    margin: 4% 0 0 0;
    font-size: 1.25em;
}

.mojipoyoH2 {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.h2item {
    margin: 4% 0 0 0;
    font-size: 4em;
    line-height: 1.7;
}

/* ==========================================================================
mojipoyo
========================================================================== */

.mojipoyoH2 {
    display: flex;
    overflow: hidden;

    span {

        display: block;
    }
}

.poyoyon {
    &>span {
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8);
    }

    &.active {
        &>span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: bound 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                    animation: bound 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes bound {
    0% {
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8);
    }

    40% {
        opacity: 1;
        transform: translateY(-10%) scale(1, .8);
    }

    70% {
        opacity: 1;
        transform: translateY(5%) scale(1.2, .8);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes bound {
    0% {
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8)
    }

    40% {
        opacity: 1;
        transform: translateY(-10%)
    }

    70% {
        opacity: 1;
        transform: translateY(5%) scale(1.2, .8)
    }

    to {
        opacity: 1;
        transform: none
    }
}

/* ==========================================================================
mojipoyo02
========================================================================== */
.poyoyon02 {
    &>span {
        opacity: 0;
        transform: translateX(0%) translateY(0%) scale(1, 1);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: bound_rotate 0.6s #{$delay}s forwards alternate;
                    animation: bound_rotate 0.6s #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes bound_rotate {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(1.2, .8) translateY(0%);
    }

    40% {
        opacity: 1;

    }

    70% {
        opacity: 0;
        transform: rotate(180deg) scale(0, 0) translateY(0%);
    }

    to {
        opacity: 1;
        transform: translateX(360deg) scale(1, 1) translateY(0%);
    }
}

@keyframes bound_rotate {
    0% {
        opacity: 0;
        transform: rotate(90deg) scale(1.2, .8);
    }

    40% {
        opacity: 1;
        transform: rotate(0deg);
    }

    70% {
        opacity: 0;
        transform: rotate(180deg) scale(0, 0);
    }

    to {
        opacity: 1;
        transform: translateX(0deg) scale(1, 1);
    }
}

/* ==========================================================================
mojipoyo03
========================================================================== */
.poyoyon03 {
    span {
        opacity: 0;
        transform: translateX(0%) translateY(50%) scale(1, 1);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: scale-down 0.6s #{$delay}s forwards ease-in-out;
                    animation: scale-down 0.6s #{$delay}s forwards ease-in-out;
                }
            }
        }
    }
}

@-webkit-keyframes scale-down {
    0% {
        opacity: 0;
        transform: scale(1.2)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes scale-down {
    0% {
        opacity: 0;
        transform: scale(1.2)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

/* ==========================================================================
mojipoyo04
========================================================================== */
.poyoyon04 {
    span {
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: inview-fadein 0.6s #{$delay}s forwards ease-in-out;
                    animation: inview-fadein 0.6s #{$delay}s forwards ease-in-out;
                }
            }
        }
    }
}

@-webkit-keyframes inview-fadein {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes inview-fadein {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* ==========================================================================
mojipoyo05
========================================================================== */
.poyoyon05 {
    &>span {
        opacity: 0;
        transform: translateY(50%) translateX(0%) scale(1, 1);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: inview-fadein 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                    animation: inview-fadein 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes inview-fadein {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes inview-fadein {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}

/* ==========================================================================
mojipoyo06
========================================================================== */
.poyoyon06 {
    &>span {
        opacity: 0;
        transform: translateX(0%) translateY(50%) scale(1.2, .8);

    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: fadein-content 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                    animation: fadein-content 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@keyframes fadein-content {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes fadein-content {
    0% {
        opacity: 0;
        transform: translateY(150%)
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* ==========================================================================
mojipoyo07
========================================================================== */
.poyoyon07 {
    &>span {
        transform: translateX(0%);
        opacity: 0;
        transform: translateY(50%) scale(1.2, .8);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: speech-bubble-x 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                    animation: speech-bubble-x 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes speech-bubble-x {
    0% {
        transform: scaleX(0);
    }

    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes speech-bubble-x {
    0% {
        transform: scaleX(0);
    }

    to {
        opacity: 1;
        transform: scaleX(1);
    }
}


/* ==========================================================================
mojipoyo08
========================================================================== */
.poyoyon08 {
    &>span {
        opacity: 0;
        transform: translateX(0%) translateY(50%) scale(1.2, .8);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: speech-bubble-y 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                    animation: speech-bubble-y 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes speech-bubble-y {
    0% {

        transform: scaleY(0)
    }

    to {
        opacity: 1;
        transform: scaleY(1)
    }
}

@keyframes speech-bubble-y {
    0% {
        transform: scaleY(0)
    }

    to {
        opacity: 1;
        transform: scaleY(1)
    }
}

/* ==========================================================================
mojipoyo09
========================================================================== */
.poyoyon09 {
    &>span {
        opacity: 0;
        transform: translateX(0%) translateY(50%) scale(1.2, .8);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: fuyofuyo 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                    animation: fuyofuyo 0.6s cubic-bezier(.51, 1.19, .59, -0.5) #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes fuyofuyo {
    0% {
        transform: translateY(0)
    }

    50% {
        opacity: 1;
        transform: translateY(-5px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes fuyofuyo {
    0% {
        transform: translateY(0)
    }

    50% {

        transform: translateY(-5px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}


/* ==========================================================================
mojipoyo10
========================================================================== */
.poyoyon10 {
    span {
        opacity: 1;
        display: inline-block;
        transition: 0.5s;
        background: linear-gradient(#00ccff, #0066ff 50px, #ff3300 250px, #ff9900);
        background: -webkit-linear-gradient(#00ccff, #0066ff 50px, #ff3300 250px, #ff9900);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200px 300px;
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.5*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: change 1s linear #{$delay}s forwards alternate;
                    animation: change 1s linear #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes change {
    0% {
        background: linear-gradient(#00ccff, #0066ff 50px, #ff3300 250px, #ff9900);
        background: -webkit-linear-gradient(#00ccff, #0066ff 50px, #ff3300 250px, #ff9900);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    to {
        display: inline-block;
        background-position: 0 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes change {

    0% {
        background: linear-gradient(#00ccff, #0066ff 50px, #ff3300 250px, #ff9900);
        background: -webkit-linear-gradient(#00ccff, #0066ff 50px, #ff3300 250px, #ff9900);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    to {
        display: inline-block;
        background-position: 0 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* ==========================================================================
mojipoyo11
========================================================================== */
.poyoyon11 {
    display: inline;
}

.poyoyon11 {
    .mojipoyoH2_011_span {
        opacity: 1;
        display: inline;
        background-position: 0% 100%;
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition-duration: 0.2s;
        background-size: 0% 10%;
        background-image: linear-gradient(transparent);
    }


    &.active .mojipoyoH2_011_span {
        -webkit-animation: changeGrade 0.6s linear 0.45s forwards alternate;
        animation: changeGrade 0.6s linear 0.45s forwards alternate;
    }
}

@-webkit-keyframes changeGrade {

    to {
        background-size: 100% 10%;
        background-image: linear-gradient(90deg, #a015ff 0%, #2a79ff 9.74%, #3fadff 22.25%, #7df1ff 35.05%, #3fffa7 47.58%, #80ff7f 57.5%, #a1ff2a 68.85%, #c6da00 80.55%, #ffa92a 89.82%, #ff0055 100%);
    }
}

@keyframes changeGrade {
    to {
        background-size: 100% 10%;
        background-image: linear-gradient(90deg, #a015ff 0%, #2a79ff 9.74%, #3fadff 22.25%, #7df1ff 35.05%, #3fffa7 47.58%, #80ff7f 57.5%, #a1ff2a 68.85%, #c6da00 80.55%, #ffa92a 89.82%, #ff0055 100%);
    }
}

/* ==========================================================================
mojipoyo12
========================================================================== */
.poyoyon12 {
    &>span {
        opacity: 0;
        transform: translateX(0%) translateY(0%) scale(0, 0);
    }

    &.active {
        span {
            @for $var from 1 through 50 {
                $delay: 0.05*$var;

                &:nth-child(#{$var}) {
                    -webkit-animation: punk 0.6s ease-in-out #{$delay}s forwards alternate;
                    animation: punk 0.6s ease-in-out #{$delay}s forwards alternate;
                }
            }
        }
    }
}

@-webkit-keyframes punk {
    0% {

        transform: scale(0, 0)
    }

    50% {
        opacity: 1;
        transform: scale(1.2, 1.2)
    }

    to {
        opacity: 1;
        transform: scale(1, 1)
    }
}

@keyframes punk {
    0% {

        transform: scale(0, 0)
    }

    50% {
        opacity: 1;
        transform: scale(1.2, 1.2)
    }

    to {
        opacity: 1;
        transform: scale(1, 1)
    }
}

/* ==========================================================================
左から右から文字割れ
========================================================================== */

.slide_move {
    position: relative;
    display: inline-block;
    opacity: 0;
    transform: translate(-3%, 0);

    &.active {
        opacity: 1;
        transform: translate(0%, 0);
    }
}

.span_move {
    position: absolute;
    bottom: 0;
    left: 0;
}

.slide_move {
    .top_span_move {
        display: inline-block;
        opacity: 0;
        -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0 50%);
        clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0 50%);
    }

    &.active .top_span_move {
        -webkit-animation: slide_ware_r 6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
        animation: slide_ware_l 0.6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
    }

    .btm_span_move {
        display: inline-block;
        opacity: 0;
        -webkit-clip-path: polygon(0 49%, 100% 49%, 100% 100%, 0% 100%);
        clip-path: polygon(0 49%, 100% 49%, 100% 100%, 0% 100%);

    }

    &.active .btm_span_move {
        -webkit-animation: slide_ware_r 6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
        animation: slide_ware_r 0.6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
    }
}


@-webkit-keyframes slide_ware_l {
    0% {
        opacity: 0;
        transform: translateX(-40%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
}

@keyframes slide_ware_l {
    0% {
        opacity: 0;
        transform: translateX(-40%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide_ware_r {
    0% {
        opacity: 0;
        transform: translateX(140%);
    }

    to {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes slide_ware_r {
    0% {
        opacity: 0;
        transform: translateX(140%);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ==========================================================================
上から下からから文字割れ
========================================================================== */

.updwn_move {
    position: relative;
    display: inline-block;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.updwn_move {
    .top_updwn_move {
        display: inline-block;
        opacity: 0;
        -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0 50%);
        clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0 50%);
    }

    &.active .top_updwn_move {
        -webkit-animation: slide_updwn_t 6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
        animation: slide_updwn_t 0.6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
    }

    .btm_updwn_move {
        display: inline-block;
        opacity: 0;
        -webkit-clip-path: polygon(0 49%, 100% 49%, 100% 100%, 0% 100%);
        clip-path: polygon(0 49%, 100% 49%, 100% 100%, 0% 100%);

    }

    &.active .btm_updwn_move {
        -webkit-animation: slide_updwn_b 6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
        animation: slide_updwn_b 0.6s cubic-bezier(.33, 1, .68, 1) 0.5s forwards;
    }
}


@-webkit-keyframes slide_updwn_t {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
}

@keyframes slide_updwn_t {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide_updwn_b {
    0% {
        opacity: 0;
        transform: translateY(140%);
    }

    to {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slide_updwn_b {
    0% {
        opacity: 0;
        transform: translateY(140%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ==========================================================================
左からスーと出る
========================================================================== */
.left_move {}

.left_move {
    .span_left_move {
        display: inline-block;
        opacity: 0;
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition-duration: 0.5s;
    }

    &.active .span_left_move {
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}

/* ==========================================================================
上からスーと出る
========================================================================== */
.top_move {}

.top_move {
    .span_top_move {
        display: inline-block;
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
        clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
        transition-duration: 0.5s;
    }

    &.active .span_top_move {
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}





/* ==========================================================================
画像にょきっと出す
========================================================================== */
.opacity_nyoki {}

/* ==========================================================================
文字にょきっと出す
========================================================================== */
.prefcoverarea {
    overflow: hidden;
    position: relative;
    width: fit-content;
}

.listUl {
    @for $var from 1 through 50 {
        $delay: 1*$var;

        &:nth-child(#{$var}) {
            -webkit-animation: fuyofuyo 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
            animation: fuyofuyo 0.6s cubic-bezier(.33, 1, .68, 1) #{$delay}s forwards alternate;
        }

    }
}

.prefcover {
    background: #FFF;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left center;
}

/* ==========================================================================
ベース
========================================================================== */
.prefcoverarea {
    color: #000;
    text-decoration: none;
}

.listLink {
    text-decoration: none;
}