/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
body {
    scroll-behavior: smooth;
}

.bgIndexPrice {
    background: url(../img/scroll/bgIndexPricePc.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

    @include mi.mq(sp) {
        background: unset;
        position: relative;
        overflow: hidden;
    }
}

.bgIndexPriceSp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.indexPrice {
    margin: 6.6% 0% 0% 0%;
    padding: 22.5% 0% 21.5% 0%;

    @include mi.mq(sp) {
        padding: 72.5% 0% 91.5% 0%;
    }
}

.indexPriceWap {}

.indexPriceLxn {
    width: 98%;
    margin: 0 auto;
}

.secPriceTitle {
    position: relative;
    overflow: hidden;
}

.leftBrdIndexPrice {
    position: absolute;
    height: 1px;
    width: 100%;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: #FFF;
    right: 71%;

    @include mi.mq(sp) {
        right: 72.4%;
    }
}

.rightBrdIndexPrice {
    position: absolute;
    height: 1px;
    width: 100%;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: #FFF;
    left: 71%;

    @include mi.mq(sp) {
        left: 72.4%;
    }
}

.h1IndexPriceLxn {
    font-size: 5em;
    color: #FFF;

    @include mi.mq(sp) {
        font-size: 2em;
    }
}

.txtIndexPriceLxn {
    font-size: 2em;
    margin: 2% auto 0 auto;
    color: #FFF;

    @include mi.mq(sp) {
        font-size: 1.2em;
    }
}

//ボード
.skaterFig {
    width: 50vw;
    height: 40vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    transition-duration: 1s;

}

//オフィス
.officeArea {
    position: relative;
    overflow: hidden;
}

.officeAreaWap {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 20% auto 0 auto;
}

.officeAreaFig {
    width: 50%;
    left: 0%;
    bottom: 0;
    position: absolute;
    transition-duration: 0.5s;
    z-index: 1;
}

.officeAreaTxt {
    width: 50%;
    margin: 0% 0 0 auto;
    padding: 10% 0;

}


.officeAreaTxtInner {
    position: relative;
    padding: 0 0 5% 0;
}

.h2title {
    font-size: 26px;
}

.h3title {
    font-size: 20px;
}

.brdtitle {
    position: absolute;
    width: 1000px;
    height: 1px;
    background: #333;
    right: 0;
    bottom: 0;
}

.txtofficeAreaTxt {
    margin: 10% 0 0 0;
}

//選ばれる理由
.reason {
    background: #cacaca;
    overflow: hidden;
    position: relative;
    padding: 10% 0;
    margin: 0 0 50% 0;
}

.reasonWap {}

.reasonTxtInner {}

.reasonFx {
    margin: 5% auto 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.reasonItem {
    width: 30%;
}

.reasonItem01 {
    position: absolute;
    left: 0%;
    bottom: 0;
}