.d_flex {
    display: flex;
}
.d_block {
    display: block;
}
.d_none {
    display: none;
}
.d_contents {
    display: contents;
}
.d_inline {
    display: inline;
}
.d_grid {
    display: grid;
}
.d_inlineBlock {
    display: inline-block;
}
.d_inlineFlex {
    display: inline-flex;
}
.d_inlineTable {
    display: inline-table;
}